<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Background</title>
  </head>
  <body>
    <section class="back-section">
      <div class="text-content">
        <h2 class="text-number">01</h2>
        <h3 class="text-title">Tell us what you like (and what not)</h3>
        <p class="text-paragraph">
          Never again waste time thinking about what to eat! Omnifood AI will
          create a 100% personalized weekly meal plan just for you. It makes
          sure you get all the nutrients and vitamins you need, no matter what
          diet you follow!
        </p>
      </div>

      <div class="image-content">
        <img class="mobile-app" src="mobile.png" alt="mobile App" srcset="" />
      </div>

      <div class="image-content">
        <img class="mobile-app" src="mobile.png" alt="mobile App" srcset="" />
      </div>
      <div class="text-content">
        <h2 class="text-number">01</h2>
        <h3 class="text-title">Tell us what you like (and what not)</h3>
        <p class="text-paragraph">
          Never again waste time thinking about what to eat! Omnifood AI will
          create a 100% personalized weekly meal plan just for you. It makes
          sure you get all the nutrients and vitamins you need, no matter what
          diet you follow!
        </p>
      </div>

      <div class="text-content">
        <h2 class="text-number">01</h2>
        <h3 class="text-title">Tell us what you like (and what not)</h3>
        <p class="text-paragraph">
          Never again waste time thinking about what to eat! Omnifood AI will
          create a 100% personalized weekly meal plan just for you. It makes
          sure you get all the nutrients and vitamins you need, no matter what
          diet you follow!
        </p>
      </div>

      <div class="image-content">
        <img class="mobile-app" src="mobile.png" alt="mobile App" srcset="" />
      </div>
    </section>
  </body>
</html>
